
.div-table {
    display: table;         
    width: auto;         
    background-color: #eee;         
    border-spacing: 5px;
}
.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
    border-bottom: 1px solid black !important;
}
.div-table-col {
    float: left;
    display: table-column;         
    width: 200px;
}

