
<div>
  <form [formGroup]="rollForm" (ngSubmit)="onSubmit(rollForm.value)">
    <div>
      <div class="input-section">
          <label for="noOfDice">
            number of dice:
          </label>
          <select id="noOfDice" formControlName="noOfDice">
              <option *ngFor='let diceCount of noOfDiceOptions'>{{diceCount}}</option>
          </select>
      </div>
      
      <div class="input-section">
          <label for="noOfSide">
            number of sides:
          </label>
          <select  id="noOfSide" formControlName="noOfSide">
              <option *ngFor='let sides of noOfSideOptions'>{{sides}}</option>
          </select>
      </div>
      
      <div class="input-section">
          <label for="noOfRolls">
              number of roll:
          </label>
          <input id="noOfRolls" type="number" formControlName="noOfRolls">
        </div>
      
        <button class="button" type="submit">Submit</button>
        
    </div>
  </form>
</div>
<hr>
