
<div>
  <form [formGroup]="rollForm" (ngSubmit)="onSubmit(rollForm.value)">
    <div>
      <div class="input-section">
          <label for="noOfDice">
            number of dice:
          </label>
          <select id="noOfDice" formControlName="noOfDice">
              <option *ngFor='let diceCount of noOfDiceOptions'>{{diceCount}}</option>
          </select>
      </div>
      
      <div class="input-section">
          <label for="noOfSide">
            number of sides:
          </label>
          <select  id="noOfSide" formControlName="noOfSide">
              <option *ngFor='let sides of noOfSideOptions'>{{sides}}</option>
          </select>
      </div>
      
      <div class="input-section">
          <label for="noOfRolls">
              number of roll:
          </label>
          <input id="noOfRolls" type="number" formControlName="noOfRolls">
        </div>
      
        <button class="button" type="submit">Submit</button>
        
    </div>
  </form>
</div>
<hr>

<div class="details">

  <div  class="simulations">
    <h1>ASSIGNMENT 1 & 2</h1>
    <div>display all latest request / result</div>

    <div *ngFor="let diceRollRequest of diceRollRequestList">
      <h5>PARAMETERS PASSED</h5>
      <div>
          number of dice:{{ diceRollRequest.noOfDice }} , number of sides: {{ diceRollRequest.noOfSide }} , number of rolls: {{ diceRollRequest.noOfRolls }}
      </div>
      <h5>RESULT</h5>
      <div *ngFor="let result of diceRollRequest.resultList"> 
        The total:{{ result.total }} was rolled: {{ result.timesRolled }} time(s);
      </div>
      <div *ngIf="diceRollRequest.error">
        {{diceRollRequest.error}}
      </div>
      <hr>
    </div>

  </div>
  <div class="verticalLine"></div>

  <div  class="combinations">
    <h1>ASSIGNMENT 3 & 4</h1>
    <div>display combinations from DB</div>

    <div *ngFor="let combination of combinationList">
    <h5>COMBINATION</h5>
      <div>
          number of dice:{{ combination.noOfDice }} , number of sides: {{ combination.noOfSide }}
      </div>
      <h5>SIMULATION</h5>
      <div>
        {{ combination.noOfSimulation }} simulations with at total of {{ combination.noOfRolls }} rolls
      </div>

      <h5>RELATIVE DISTRIBUTION</h5>
      <div class="div-table">

        <div class="div-table-row">
          <div class="div-table-col" align="center">SUM</div>
          <div  class="div-table-col">TIMES ROLLED</div>
          <div  class="div-table-col">RELATIVE DISTRIBUTION</div>
        </div>
        <div *ngFor="let result of combination.distributions"> 
          <div class="div-table-row">
            <div class="div-table-col">{{ result.sum }}</div>
            <div class="div-table-col">{{ result.timesRolled }}</div>
            <div class="div-table-col">{{ result.percentage }}%</div>
          </div>
        </div>
        
      </div>
      <hr>
    </div>
  </div>

</div>

